<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!-- form that only displays when user cookie has valuelogged in-->
    <% if(user){ %>
    <form class="form-inline" action="/logout" method="POST">
      <label style="font-weight: bold; margin-right: 10px;" for="username">Logged in as: <%= user.email %></label>
      <div class="form-group mb-2 mx-auto">
        <button type="submit" class="btn btn-primary" style="background-color: black; color: white; border-color: black; font-weight: bold;">Logout</button>
      </div>
    </form>
    <% } else { %> 
    <!-- button that only displays when user_id cookie has no value-->
        <div class="m1-auto">
          <a href="/login" class="btn btn-primary" style="text-decoration: none; color: black;">Login</a>
          <a href="/register" class="btn btn-secondary" style="text-decoration: none; color: black;">Register</a>
        </div>
    <% } %>
  </nav>
</header>
